.social_media{
    display: flex;
    width: fit-content;
    justify-content: space-between;
    margin: 30px 0;
}

.iconClass{
    font-size: 2rem;
    color: var(--text-color);
    margin: 10px;
}

.iconClass:hover{
    color: var(--background-color);
    background-color: var(--text-color);
    border-radius: 5px;
}


.iconClass:first-child {
    margin-left: 0;
}
