.project{
    display: inline-block;
    width: 350px;
    height: 160px;
    border: 1px solid var(--text-color);
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}

.project:hover{
    background-color: var(--text-color);
    color: var(--background-color);
}

.tech_stack{
    display: flex;
    width: fit-content;
    float: right;
}

.project_title{
    font-size: 2rem;
    margin-bottom: 10px;
}

.project_title ion-icon{
    transform: translateY(4px);
}

.project_desc{
    margin-bottom: 10px;
}

.stack_img{
    font-size: 2rem;
    margin: 3px;
}

@media (max-width: 950px) {

    .project{
        width: 300px;
    }

}