@import url('https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --primary-color: rgb(6, 45, 45);
  --secondary-color: #03dac6;
  --background-color: #121212;
  --text-color: #ffffff;
}

[data-theme="light"] {
  --primary-color: rgb(161, 217, 217);
  --secondary-color: #03dac6;
  --background-color: #bebebe;
  --text-color: #0a3621;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--text-color);
  font-family: "Sour Gummy", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.border {
  width: 400px;
  height: 2px;
  margin: 30px auto;
  background-color: var(--text-color);
}


a {
  text-decoration: none;
  color: var(--text-color);
}

li {
  list-style: none;
}

@font-face {
  font-family: 'CustomFont';
  src: url('/src/assets/Cracked-Code-Font/CrackedCode.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BrandFont';
  src: url('/src/assets/rustic-roadway-personal-use/RusticRoadway.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.content{
  position: relative;
  top: 90px;
}


body {
  background-color: var(--background-color);
}

@media (max-width: 950px) {
  .border {
    width: 100%;

  }
}